.Row {
  text-align: center;
  display: inline;
  background-color: #f7f7f7;
}

#icons {
  color: #000000;
  display: inline;
  float: right;
  position: relative;
  font-size: 24px;
  margin-right: 15px;
}

h1 {
  position: relative;
  display: inline;
}
